In [ ]:
import numpy as np
import pandas as pd

import psycopg2
import psycopg2.extras as extras

In [ ]:
# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql = """select *
  from batch_16.products_dataset;"""
product = pd.read_sql_query(sql, conn)
product = product.reset_index(drop=True)
product

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

## Sorting Dataframe
1. Urutakan panjang product (product_name_length) dari paling kecil ke paling besar
2. Urutkan quantity photo (product_photos_qty) dari paling besar ke paling kecil
3. Urutkan nomor 1 dan 2, dimana nomor 1 ascending dan nomor 2 descending

In [ ]:
#1. Urutakan panjang product (product_name_length) dari paling kecil ke paling besar
product.sort_values(by='product_name_lenght').head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
12826,95e25af33821b9d231e06f1e7cd34d4e,moveis_decoracao,5.0,267.0,1.0,2600.0,18.0,40.0,13.0
21234,84d0969ab5317ca361e0a628948a4624,moveis_decoracao,5.0,310.0,1.0,7050.0,88.0,29.0,29.0
22630,3adb4888b6e99ae73176ac7979dc03a0,moveis_decoracao,6.0,254.0,1.0,2400.0,50.0,15.0,17.0
26882,4b23856b5ce1e62e9c09c7b952cfd9cf,bebes,7.0,356.0,4.0,20700.0,60.0,43.0,48.0
8476,9b68d637bcc8963e7b736f9de0a4532f,bebes,7.0,289.0,1.0,2300.0,65.0,15.0,15.0

In [ ]:
#2. Urutkan quantity photo (product_photos_qty) dari paling besar ke paling kecil
product.sort_values(by='product_photos_qty', ascending=False).head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
9022,f95d5d21561ea085ba1e1a4e53840844,brinquedos,62.0,679.0,20.0,8900.0,32.0,49.0,34.0
19056,234495ab7809d4517bc1330c439da1bb,bebes,63.0,659.0,19.0,8900.0,32.0,49.0,34.0
17843,e9880042522806f124fdd4f8c8514d0d,pet_shop,54.0,830.0,18.0,2600.0,33.0,30.0,44.0
28073,b659034bc6cfc3d9baeda101c0c281fe,pet_shop,54.0,802.0,18.0,9500.0,33.0,30.0,44.0
24522,b085d8c8840e8dd3d6ccdf3d86c6145e,pet_shop,53.0,823.0,17.0,1050.0,21.0,17.0,30.0

In [ ]:
product.sort_values(by='product_name_lenght')

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
12826,95e25af33821b9d231e06f1e7cd34d4e,moveis_decoracao,5.0,267.0,1.0,2600.0,18.0,40.0,13.0
21234,84d0969ab5317ca361e0a628948a4624,moveis_decoracao,5.0,310.0,1.0,7050.0,88.0,29.0,29.0
22630,3adb4888b6e99ae73176ac7979dc03a0,moveis_decoracao,6.0,254.0,1.0,2400.0,50.0,15.0,17.0
26882,4b23856b5ce1e62e9c09c7b952cfd9cf,bebes,7.0,356.0,4.0,20700.0,60.0,43.0,48.0
8476,9b68d637bcc8963e7b736f9de0a4532f,bebes,7.0,289.0,1.0,2300.0,65.0,15.0,15.0
...,...,...,...,...,...,...,...,...,...
32515,b0a0c5dd78e644373b199380612c350a,None,NaN,NaN,NaN,1800.0,30.0,20.0,70.0
32589,10dbe0fbaa2c505123c17fdc34a63c56,None,NaN,NaN,NaN,800.0,30.0,10.0,23.0
32616,bd2ada37b58ae94cc838b9c0569fecd8,None,NaN,NaN,NaN,200.0,21.0,8.0,16.0
32772,fa51e914046aab32764c41356b9d4ea4,None,NaN,NaN,NaN,1300.0,45.0,16.0,45.0
32852,c4ceee876c82b8328e9c293fa0e1989b,None,NaN,NaN,NaN,700.0,28.0,3.0,43.0

In [ ]:
#3. Urutkan nomor 1 dan 2, dimana nomor 1 ascending dan nomor 2 descending
product.sort_values(by=['product_name_lenght','product_photos_qty'],
                    ascending=[True, False]).head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
12826,95e25af33821b9d231e06f1e7cd34d4e,moveis_decoracao,5.0,267.0,1.0,2600.0,18.0,40.0,13.0
21234,84d0969ab5317ca361e0a628948a4624,moveis_decoracao,5.0,310.0,1.0,7050.0,88.0,29.0,29.0
22630,3adb4888b6e99ae73176ac7979dc03a0,moveis_decoracao,6.0,254.0,1.0,2400.0,50.0,15.0,17.0
26882,4b23856b5ce1e62e9c09c7b952cfd9cf,bebes,7.0,356.0,4.0,20700.0,60.0,43.0,48.0
8476,9b68d637bcc8963e7b736f9de0a4532f,bebes,7.0,289.0,1.0,2300.0,65.0,15.0,15.0

In [ ]:
# ambil product_name_length = 7
nomor_7 =product[product['product_name_lenght'] == 7]
nomor_7.sort_values(by=['product_name_lenght','product_photos_qty'],
                    ascending=[True, False])

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
26882,4b23856b5ce1e62e9c09c7b952cfd9cf,bebes,7.0,356.0,4.0,20700.0,60.0,43.0,48.0
8476,9b68d637bcc8963e7b736f9de0a4532f,bebes,7.0,289.0,1.0,2300.0,65.0,15.0,15.0

In [ ]:
contoh =product[product['product_photos_qty'] > 1]
contoh.sort_values(by=['product_photos_qty'],ascending=False)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
9022,f95d5d21561ea085ba1e1a4e53840844,brinquedos,62.0,679.0,20.0,8900.0,32.0,49.0,34.0
19056,234495ab7809d4517bc1330c439da1bb,bebes,63.0,659.0,19.0,8900.0,32.0,49.0,34.0
28073,b659034bc6cfc3d9baeda101c0c281fe,pet_shop,54.0,802.0,18.0,9500.0,33.0,30.0,44.0
17843,e9880042522806f124fdd4f8c8514d0d,pet_shop,54.0,830.0,18.0,2600.0,33.0,30.0,44.0
15736,801f0a5ea1ac28df44d65195cf4e2620,pet_shop,56.0,834.0,17.0,7300.0,33.0,30.0,44.0
...,...,...,...,...,...,...,...,...,...
9955,8f0ff18b3c249ca69a6a4c6571e38335,cama_mesa_banho,60.0,436.0,2.0,1150.0,35.0,10.0,35.0
22400,72d6074ef5c81ec3102b3f2a052c5f49,beleza_saude,50.0,216.0,2.0,50.0,20.0,15.0,15.0
9957,20e04dcc7b37710b6fe52237cbe2a274,esporte_lazer,59.0,1271.0,2.0,3150.0,20.0,20.0,20.0
22396,5d3b065e160c51e883cd7ef509a54176,sinalizacao_e_seguranca,50.0,389.0,2.0,100.0,20.0,15.0,15.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0

## Filtering Dataframe

loc untuk kolom dan iloc indeks

- loc
  1. Tolong ambilin customer_unique_id dengan customer_state
  2. Tolong ambilin baris 20 - 100 dimana kolom yg diambil customer_id dan customer_city

- iloc
  1. Ambil kolom ke 1 sampai 3, dan baris 100 baris paling belakang
  2. Ambil kolom 3 dari belakang, dan baris 50 - 100

In [ ]:
# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql_customer = """select *
  from batch_16.customers_dataset;"""
customer = pd.read_sql_query(sql_customer, conn)
customer = customer.reset_index(drop=True)
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
# loc, 1. Tolong ambilin customer_unique_id dengan customer_state (r,c)
customer.loc[:,['customer_unique_id','customer_state']].head()

                 customer_unique_id customer_state
0  861eff4711a542e4b93843c6dd7febb0             SP
1  290c77bc529b7ac935b93aa66c333dc3             SP
2  060e732b5b29e8181a18229c7b0b2b5e             SP
3  259dac757896d24d7702b9acbbff3f3c             SP
4  345ecd01c38d18a9036ed96c73b8d066             SP

In [ ]:
# loc, 2. Tolong ambilin baris 20 - 100 dimana kolom yg diambil customer_id dan customer_city
customer.loc[20:100,['customer_id','customer_city']].head()

                         customer_id         customer_city
20  154c4ded6991bdfa3cd249d11abf4130         florianopolis
21  690172ab319622688d3b4df42f676898  aparecida de goiania
22  2938121a40a20953c43caa8c98787fcb             sao paulo
23  237098a64674ae89babdc426746260fc              curitiba
24  cb721d7b4f271fd87011c4c83462c076             sao paulo

In [ ]:
# iloc, 1. Ambil kolom ke 1 sampai 3, dan baris yang diambil 100 baris paling belakang
customer.iloc[-100:,0:3].head()

,customer_id,customer_unique_id,customer_zip_code_prefix
99341,c1721aef018416169d2775808130c68a,5e11d75692add978f3a35d2ce9dee416,13185
99342,e3a4128a53cbd4ff83c47fdfcad702f6,744d867e8a1423f736e0ca88f9f3fc23,30170
99343,9289d8bcd95805bc1ac27c949a99da98,ec8aaeb3869352e348097f26f4c49ee3,60864
99344,54dcf06632be05abeb6ed726b761c022,297fba4fefb787db6b29178b7622e0a4,8710
99345,e7b72a7e6f6364b5ff0830ef7ee799e4,f67f3c9e6a9c9ceff20b4a5700baeb53,35690

In [ ]:
# iloc, 2. Ambil kolom 3 dari belakang, dan baris 50 - 100
customer.iloc[50:100,-3:].head()

    customer_zip_code_prefix   customer_city customer_state
50                      5351       sao paulo             SP
51                     39406   montes claros             MG
52                     14860        barrinha             SP
53                     21310  rio de janeiro             RJ
54                     23970          parati             RJ

In [ ]:
customer.iloc[50:100,:5].head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
50,d3b6830d18c7de943d1e707d1f061d40,27cf4b153010911a0957150255a6c6db,5351,sao paulo,SP
51,79de53946db384e2d7a9bd131792ad17,7ce5b57a120a2da6a804afa58ffcbfb5,39406,montes claros,MG
52,a562ab1e728449e3461829dfe2e36f73,d33eeadf54cb883e79be640f38c32cdc,14860,barrinha,SP
53,b64ed91eab98972150bdaf77ca921934,3da7750bf3c1dbd724624a60a9f5942b,21310,rio de janeiro,RJ
54,8247b5583327ab8be19f96e1fb82f77b,d85547cd859833520b311b4458a14c1c,23970,parati,RJ

In [ ]:
# sorting data point
customer[customer['customer_city'] == 'sao paulo']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
6,fd826e7cf63160e536e0908c76c3f441,addec96d2e059c80c30fe6871d30d177,4534,sao paulo,SP
13,eabebad39a88bb6f5b52376faec28612,295c05e81917928d76245e842748184d,5704,sao paulo,SP
18,9b8ce803689b3562defaad4613ef426f,7f3a72e8f988c6e735ba118d54f47458,5416,sao paulo,SP
22,2938121a40a20953c43caa8c98787fcb,482441ea6a06b1f72fe9784756c0ea75,5713,sao paulo,SP
...,...,...,...,...,...
99408,f6c6d3e1e20969a5eed982163f959719,fb354969e06f2093c0083cbfbb91864e,1521,sao paulo,SP
99411,da37711b17efd5f2539e8196ab215f04,5f2971f9805e3ccb030226e30c8e8390,4313,sao paulo,SP
99422,821a7275a08f32975caceff2e08ea262,046470763123d3d6364f89095b4e47ab,5734,sao paulo,SP
99423,c6ece8a5137f3c9c3a3a12302a19a2ac,aaf22868003377e859049dcf5f0b3fdf,1323,sao paulo,SP
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP

In [ ]:
# sorting data point tanpa kurung breket akan menghasil nilai true false
customer['customer_city'] == 'sao paulo'

0        False
1        False
2         True
3        False
4        False
         ...
99436     True
99437    False
99438    False
99439    False
99440    False
Name: customer_city, Length: 99441, dtype: bool

In [ ]:
customer.filter(items=customer[customer['customer_city'] == 'sao paulo'])

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

## Creating New Variable/Kolom
1. Agregasi (tambahkan price dan freight_value)
2. Agregasi (lakukan pangkat 2 pada freight_value)
3. Concantenate (gabungin product_id dan seller_id)

In [ ]:
# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql_order_itm = """select *
  from batch_16.order_items_dataset;"""
order_item_data = pd.read_sql_query(sql_order_itm, conn)
order_item_data = order_item_data.reset_index(drop=True)
order_item_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [ ]:
# 1. Agregasi (tambahkan price dan freight_value)
order_item_data['price_&_freigt_value'] = order_item_data['price']+order_item_data['freight_value']
order_item_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,price_&_freigt_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04

In [ ]:
# 2. Agregasi (lakukan pangkat 2 pada freight_value)
order_item_data['freigt_value_pangkat'] = order_item_data['freight_value']**2
order_item_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,price_&_freigt_value,freigt_value_pangkat
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,176.6241
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,397.2049
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,319.3369
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,163.5841
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,329.0596

In [ ]:
# 3. Concantenate (gabungin product_id dan seller_id)
order_item_data['product_seller_id'] = order_item_data['product_id']+str("-")+order_item_data['seller_id']
order_item_data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,price_&_freigt_value,freigt_value_pangkat,product_seller_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19,176.6241,4244733e06e7ecb4970a6e2683c13e61-48436dade18ac...
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83,397.2049,e5f2d52b802189ee658865ca93d83a8f-dd7ddc04e1b6c...
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87,319.3369,c777355d18b72b67abbeef9df44fd0fd-5b51032eddd24...
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78,163.5841,7634da152a4610f1595efa32f14722fc-9d7a1d34a5052...
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04,329.0596,ac6c3623068f30de03045865e4e10089-df560393f3a51...

In [ ]:
np.dtype(order_item_data['shipping_limit_date'])

dtype('<M8[ns]')

## Grouping Data

1. Ambil rata-rata dan median dari price per product_id
2. Ambil nilai maximum dan minimum dari price per product_id (min and max)
3. Ambil jumlah product yang dijumlah di tiap seller_id (count)
4. Berapa banyak jumlah customer pada customer_city dan customer_state (count)

In [ ]:
# 1. Ambil rata-rata dan median dari price
agregasi_price = order_item_data.groupby('product_id').agg(average_price = ('price','mean'), median_price = ('price','median')).reset_index() #reset_indeks untuk membuat data menjadi dalam bentuk indeks dataframe
agregasi_price

                             product_id  average_price  median_price
0      00066f42aeeb9f3007548bb9d3f33c38         101.65        101.65
1      00088930e925c41fd95ebfe695fd2655         129.90        129.90
2      0009406fd7479715e4bef61dd91f2462         229.00        229.00
3      000b8f95fcb9e0096488278317764d19          58.90         58.90
4      000d9be29b5207b54e86aa1b1ac54872         199.00        199.00
...                                 ...            ...           ...
32946  fff6177642830a9a94a0f2cba5e476d1         114.99        114.99
32947  fff81cc3158d2725c0655ab9ba0f712c          90.00         90.00
32948  fff9553ac224cec9d15d49f5a263411f          32.00         32.00
32949  fffdb2d0ec8d6a61f0a0a0db3f25b441          33.99         34.99
32950  fffe9eeff12fcbd74a2f2b007dde0c58         249.99        249.99

[32951 rows x 3 columns]

In [ ]:
#jumlah semua berdasarkan total per product_id
order_item_data.groupby('product_id').agg('count')

,order_id,order_item_id,seller_id,shipping_limit_date,price,freight_value,price_&_freigt_value,freigt_value_pangkat,product_seller_id
product_id,,,,,,,,,
00066f42aeeb9f3007548bb9d3f33c38,1,1,1,1,1,1,1,1,1
00088930e925c41fd95ebfe695fd2655,1,1,1,1,1,1,1,1,1
0009406fd7479715e4bef61dd91f2462,1,1,1,1,1,1,1,1,1
000b8f95fcb9e0096488278317764d19,2,2,2,2,2,2,2,2,2
000d9be29b5207b54e86aa1b1ac54872,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
fff6177642830a9a94a0f2cba5e476d1,2,2,2,2,2,2,2,2,2
fff81cc3158d2725c0655ab9ba0f712c,1,1,1,1,1,1,1,1,1
fff9553ac224cec9d15d49f5a263411f,1,1,1,1,1,1,1,1,1
fffdb2d0ec8d6a61f0a0a0db3f25b441,5,5,5,5,5,5,5,5,5
fffe9eeff12fcbd74a2f2b007dde0c58,1,1,1,1,1,1,1,1,1

In [ ]:
order_item_data[order_item_data['product_id']=='fff6177642830a9a94a0f2cba5e476d1']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,price_&_freigt_value,freigt_value_pangkat,product_seller_id
80973,b81a52facd8a7b45a8227755b5578bb5,1,fff6177642830a9a94a0f2cba5e476d1,7a67c85e85bb2ce8582c35f2203ad736,2017-07-20 17:45:18,119.99,38.39,158.38,1473.7921,fff6177642830a9a94a0f2cba5e476d1-7a67c85e85bb2...
102653,e91d77b27ccd3bac6b23a34a44ae3db1,1,fff6177642830a9a94a0f2cba5e476d1,7a67c85e85bb2ce8582c35f2203ad736,2017-09-11 11:45:17,109.99,17.02,127.01,289.6804,fff6177642830a9a94a0f2cba5e476d1-7a67c85e85bb2...

In [ ]:
# 1. Ambil sample 20 data nilai rata-rata dan median dari price
agregasi_price = order_item_data.groupby('product_id').agg(average_price = ('price','mean'), median_price = ('price','median')).reset_index()
agregasi_price.sample(20)

                             product_id  average_price  median_price
23670  b83738ac1903f7c8f0ed378cb085909c     134.900000        135.90
5952   2d4b08af04c0467f37569071672ce199     109.900000        109.90
24623  bfa393df5b4494bea7158660999a921b      30.823333         29.99
18873  92f47b25673ab3b7e18b6f7fd2412e4b      11.000000         11.00
14864  72bc7a3072eb84fd69d8e220fb7dbfaf     189.990000        189.99
6414   314f853949a68233748ccc6092eaf51f     110.000000        110.00
12995  64a52f25956dafbe36ae37ee5151334a      14.990000         14.99
4371   20da3eeeb6af0e217f80b316439a94be     809.910000        809.91
8804   439dee65f97bb5e70b021e1e7cf54a5e      59.900000         59.90
3400   19b25267e01c8587981e55ec96673eba      57.000000         57.00
5042   2615fceb03b49ac6e17fa5b8f2e11b63      50.000000         50.00
2350   11e0a57b7340441c4ece1cf7efd99ff8      17.990000         17.99
13239  6672a09b75e37e87703b1d4f221029e7     100.600000        100.60
31269  f2c1df0fc307ec60e3321c708c1dcac3      48.000000         48.00
20630  a0686391b9b79dbfb9577555719ec45e     299.000000        299.00
13368  67639b8cb7f4b8c431ed4c48a76866e0     129.900000        129.90
17368  86b60e3773c3013d2d8f41335cb5e1ee      99.000000         99.00
23405  b667e64d366991432e4c9c45ec4d6d1a      58.901429         55.90
29193  e2a874b1b8340b4038172b1925afd914      91.900000         92.90
5825   2c3f424b5643b03663e0f5861dde2bfe     336.950000        336.95

In [ ]:
# 2. Ambil nilai maximum dan minimum dari price per product_id (min and max)
agregasi_price1 = order_item_data.groupby('product_id').agg(min_price = ('price','min'), max_price = ('price','max')).reset_index()
agregasi_price1.head()

                         product_id  min_price  max_price
0  00066f42aeeb9f3007548bb9d3f33c38     101.65     101.65
1  00088930e925c41fd95ebfe695fd2655     129.90     129.90
2  0009406fd7479715e4bef61dd91f2462     229.00     229.00
3  000b8f95fcb9e0096488278317764d19      58.90      58.90
4  000d9be29b5207b54e86aa1b1ac54872     199.00     199.00

In [ ]:
order_item_data.groupby('product_id').agg(max_price = ('price','max'), min_price = ('price','min')).reset_index()

                             product_id  max_price  min_price
0      00066f42aeeb9f3007548bb9d3f33c38     101.65     101.65
1      00088930e925c41fd95ebfe695fd2655     129.90     129.90
2      0009406fd7479715e4bef61dd91f2462     229.00     229.00
3      000b8f95fcb9e0096488278317764d19      58.90      58.90
4      000d9be29b5207b54e86aa1b1ac54872     199.00     199.00
...                                 ...        ...        ...
32946  fff6177642830a9a94a0f2cba5e476d1     119.99     109.99
32947  fff81cc3158d2725c0655ab9ba0f712c      90.00      90.00
32948  fff9553ac224cec9d15d49f5a263411f      32.00      32.00
32949  fffdb2d0ec8d6a61f0a0a0db3f25b441      34.99      29.99
32950  fffe9eeff12fcbd74a2f2b007dde0c58     249.99     249.99

[32951 rows x 3 columns]

In [ ]:
#tanpa nama membuat nama kolom baru
agregasi_price = order_item_data.groupby('product_id').agg({'order_item_id':'count','price':'mean'}).reset_index()
agregasi_price

                             product_id  order_item_id   price
0      00066f42aeeb9f3007548bb9d3f33c38              1  101.65
1      00088930e925c41fd95ebfe695fd2655              1  129.90
2      0009406fd7479715e4bef61dd91f2462              1  229.00
3      000b8f95fcb9e0096488278317764d19              2   58.90
4      000d9be29b5207b54e86aa1b1ac54872              1  199.00
...                                 ...            ...     ...
32946  fff6177642830a9a94a0f2cba5e476d1              2  114.99
32947  fff81cc3158d2725c0655ab9ba0f712c              1   90.00
32948  fff9553ac224cec9d15d49f5a263411f              1   32.00
32949  fffdb2d0ec8d6a61f0a0a0db3f25b441              5   33.99
32950  fffe9eeff12fcbd74a2f2b007dde0c58              1  249.99

[32951 rows x 3 columns]

In [ ]:
# 3. amount of product per seller_id (jumlah produk per seller_id)
aggregasi_ = order_item_data.groupby('seller_id').agg(amount_of_product = ('product_id', 'count')).reset_index()
aggregasi_

                             seller_id  amount_of_product
0     0015a82c2db000af6aaaf3ae2ecb0532                  3
1     001cca7ae9ae17fb1caed9dfb1094831                239
2     001e6ad469a905060d959994f1b41e4f                  1
3     002100f778ceb8431b7a1020ff7ab48f                 55
4     003554e2dce176b5555353e4f3555ac8                  1
...                                ...                ...
3090  ffcfefa19b08742c5d315f2791395ee5                  1
3091  ffdd9f82b9a447f6f8d4b91554cc7dd3                 20
3092  ffeee66ac5d5a62fe688b9d26f83f534                 14
3093  fffd5413c0700ac820c7069d66d98c89                 61
3094  ffff564a4f9085cd26170f4732393726                 20

[3095 rows x 2 columns]

In [ ]:
#mengecek salah satu seller id untuk membuktikan apakah bener jumlah produknya berdasarkan seller id
order_item_data[order_item_data['seller_id'] == '0015a82c2db000af6aaaf3ae2ecb0532']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_seller_id
55943,7f39ba4c9052be115350065d07583cac,1,a2ff5a97bf95719e38ea2e3b4105bce8,0015a82c2db000af6aaaf3ae2ecb0532,2017-10-24 23:56:20,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8-0015a82c2db00...
69082,9dc8d1a6f16f1b89874c29c9d8d30447,1,a2ff5a97bf95719e38ea2e3b4105bce8,0015a82c2db000af6aaaf3ae2ecb0532,2017-10-18 14:49:22,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8-0015a82c2db00...
93696,d455a8cb295653b55abda06d434ab492,1,a2ff5a97bf95719e38ea2e3b4105bce8,0015a82c2db000af6aaaf3ae2ecb0532,2017-10-12 22:24:16,895.0,21.02,a2ff5a97bf95719e38ea2e3b4105bce8-0015a82c2db00...

In [ ]:
# amount of unique product per seller_id (jumlah produk unik per seller_id)
aggregasi_ = order_item_data.groupby('seller_id')['product_id'].nunique().reset_index()
aggregasi_

                             seller_id  product_id
0     0015a82c2db000af6aaaf3ae2ecb0532           1
1     001cca7ae9ae17fb1caed9dfb1094831          11
2     001e6ad469a905060d959994f1b41e4f           1
3     002100f778ceb8431b7a1020ff7ab48f          24
4     003554e2dce176b5555353e4f3555ac8           1
...                                ...         ...
3090  ffcfefa19b08742c5d315f2791395ee5           1
3091  ffdd9f82b9a447f6f8d4b91554cc7dd3          12
3092  ffeee66ac5d5a62fe688b9d26f83f534           3
3093  fffd5413c0700ac820c7069d66d98c89          29
3094  ffff564a4f9085cd26170f4732393726          15

[3095 rows x 2 columns]

## Merging Data

kalo di join di dataframe yg dilihat adalah nama kolomnya harus sama
kalo di sql yang dilihat adalah isinya atau yg menjadi primary Q nya

In [ ]:
# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql_order_ = """select *
  from batch_16.orders_dataset;"""
order_data = pd.read_sql_query(sql_order_, conn)
order_data = order_data.reset_index(drop=True)
order_data.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [ ]:
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
order_data.merge(customer, how='inner', on='customer_id').head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP